@import 'tailwindcss';

@theme {
    --color-primary-text: #483C32;
    --color-bg: #d9d5ca;

    --font-work: "National Park", sans-serif

}


html, body {
    background-color: var(--color-bg);
    color: var(--color-primary-text);
    overscroll-behavior: none;
    font-family: var(--font-work);
}

* {
    orphans: 2;
    widows: 2;
}

:root {
    overscroll-behavior: none;
}

.auth-container {
    /* .cl-formButtonPrimary::after {
        background: none!important;
        content: "-->"!important;
        position: relative!important;
        width: 30px;
        letter-spacing: -2px;
    } */
    .cl-formButtonPrimary:hover::after {
        opacity: 1!important;
    }
    ::placeholder {
        opacity: 0!important;
    }
}

/* .essayTextContainer > * {
    padding-right: 4rem;
} */